<%= form_with model: @tag do |form| %>
  <div class='form-group mb-2'>
    <%= form.label 'Tag:' %>
    <%= form.text_field :name, placeholder: 'programming', class: 'form-control'%>
  </div>

   <div class='actions'>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>

<% end %>